.custom-select {
  position: relative;
  display: flex;

  &:hover {
    .custom-select__selected {
      color: $bright-orange;
      border-color: $bright-orange;
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $white;
    color: $white;
    font-size: 30px;
    font-weight: $font-weight-light;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @media only screen and (min-width: map-get($grid-breakpoints, 'lg'))  {
      font-size: 50px;
      padding: 20px 0;
    }

    &-icon {
      width: 30px;
      height: 30px;
      display: flex;
      margin-left: 30px;
      transition: transform .15s ease-in-out;
    }

    &--open {
      color: $bright-orange;
      border-color: $bright-orange;

      .custom-select__selected-icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: $white;
    color: $charcoal;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      display: flex;
      width: 100%;
    }

    &-link {
      display: flex;
      width: 100%;
      padding: 15px;
      font-size: 18px;
      text-decoration: none;
      color: $charcoal;
      transition: background-color .2s ease-in-out;

      @media only screen and (min-width: map-get($grid-breakpoints, 'lg'))  {
        font-size: 20px;
        padding: 15px 30px;
      }

      &:hover {
        background-color: rgba($bright-orange, .2);
      }
    }
  }
}