.custom-select {
  position: relative;
  display: flex;

  &:hover {
    .custom-select__selected {
      opacity: .5;
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $white;
    color: $white;
    font-size: 50px;
    padding: 20px 0;
    cursor: pointer;
    transition: opacity .3s ease-in-out;

    &-icon {
      color: $white;
      width: 30px;
      height: 30px;
      display: flex;
      margin-left: 30px;
      transition: transform .15s ease-in-out;
    }

    &--open {
      .custom-select__selected-icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: $white;
    color: $charcoal;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      display: flex;
      width: 100%;
    }

    &-link {
      display: flex;
      width: 100%;
      padding: 15px 30px;
      font-size: 20px;
      text-decoration: none;
      color: $charcoal;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: rgba($bright-orange, .2);
      }
    }
  }
}