.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  &__logo {
    width: 200px;
    padding: 20px;

    @media only screen and (min-width: map-get($grid-breakpoints, 'lg'))  {
      width: 300px;
      padding: 30px;
    }
  }
}